{% extends "model-page.html" %}
{% block content %}
{% block style %}
{% endblock %}

<h1 style="margin-left: 116px;">Detalhes do Cliente</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            {% if cliente.photo %}
                <img src="{{ cliente.photo.url }}" width="350" style="margin-top: 16px; border-color:  rgba(0, 0, 0, 0.2); border-style:solid; ">    
            {% endif%}
        </div>
        <div class="col-sm-8" style="margin-top: 16px;" >
            <h4><b>Nome: </b>{{ cliente.nome }}</h4>
            <p><b>Id: </b>{{ cliente.id}}</p>
            <p><b>Contato: </b>{{ cliente.telefone}}</p>
            <p><b>Sexo: </b>{{ cliente.sexo }}</p>
            <p><b>Peso atual: </b>{{ cliente.peso}}</p>
            <p><b>Avaliação do IMC: </b>{{ cliente.avaliacao}}</p>
            <p><b>Endreço: </b>{{ cliente.endereco}}</p>
            <p><b>Plano: </b>{{ cliente.plano}}</p>
            <p><b>Meta: </b>{{ cliente.meta}}</p>            
        </div>
    
        <form action="edit" method="post">{% csrf_token %}
            <input class="btn btn-default"type="submit" style="margin-left:15px" value="Alterar">
        </form>
        <form action="delete" method="post">{% csrf_token %}
            <input class="btn btn-default" type="submit" style="margin-left:15px" value="Apagar">
        </form>
    </div>
</div>

{% endblock %}

